# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf

# Denote all files that are truly binary and should not be modified.
*.pth binary
*.pt binary
*.ckpt binary
*.gz binary
*.zip binary
*.tar binary

